@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        -webkit-font-smoothing: antialiased;
        background-color: #f7f7f7;
        color: #4a4a4a;
        font-display: swap;
        font-size: 14px;
        font-weight: 200;
    }
}
